body {
  /*
 background-color: rgb(9, 7, 7);
  */
  background: linear-gradient(60deg, #1045b9 30%, #3a078bf5);
  height: 100vh; 
  margin: 0; 
}

@media only screen and (max-width: 600px) {
  body {
    height: 100%;
  }
}

h1{
    font-size: 26px;
    padding: 4px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 20px 0 15px 0; 
    position: relative; 
    border: 3px solid rgb(10, 10, 10);
    background-color: rgba(36, 36, 36, 0.856);
    border-radius: 8px;
        

}

.itens-agendamento{    
    background-color: rgba(36, 36, 36, 0.438);
    margin-bottom: 25px;
    padding: 5px;
    border: 2px solid rgb(25, 26, 27);
    border-radius: 8px ;
}

 ul li{
   list-style: none;
   font-size: 18px;
}

ul{
  background-color:rgba(8, 8, 8, 0.324);
    padding: 3px;
    border-radius: 8px;
    border: 2px solid rgb(25, 26, 27);
}

li{
    padding: 2px;
    margin: 10px 0 0;
    color: #ffffff;
    border-bottom: 1px solid  rgb(24, 25, 26);
}

#tipoAgendamento{
    border-bottom: none;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 0, 0);
    border-radius: 6px;
    color: rgb(252, 250, 250);
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    width: 90px;
    margin: auto;
    margin-bottom: 10px;
    
}

.voltar {
    height: 25px;
    width: 60px;
    border: 3px solid rgb(10, 10, 10);
    background-color: rgba(36, 36, 36, 0.856);
    border-radius: 8px;
    margin: 0px;
    margin-top: 15px;
    padding: 4px;
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .voltar a{
   
    color: rgb(255, 255, 255); 
    text-decoration: none;
    font-size: 17px;
  }