* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    /*
   background-color: rgb(9, 7, 7);
    */
    
    background: linear-gradient(65deg, #0884ff 15%, #ffffff, #ff0f34);
    height: 100vh; 
    margin: 0; 
    overflow: hidden; 
  }
  
  @media only screen and (max-width: 600px) {
    body {
      height: 100vh;
    }
  }


.container {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 3px;
    background-color: rgba(36, 36, 36, 0.263);   
    padding: 20px;
    padding-top:20px ;
    border: 2px solid rgb(25, 26, 27);
    box-shadow: 3px 2px 10px rgba(29, 27, 27, 0.555);
    border-radius: 10px;
}

@media screen and (max-width: 600px){
    .container{
        margin-top: 2rem;
    }
}

.cabecalho {
    background-color: rgba(18, 19, 19, 0.854);
    border: 2px solid rgba(25, 26, 27, 0.596);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin: 5px;
    margin-top: 3px;
    padding: 10px;
    padding-bottom: 2px;
}

.bemvindo {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
    margin-top: 10px;
    }

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 40px;
}

input {
  height: 60px;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 15px;
    padding: 5px;
    background-color:rgba(8, 8, 8, 0.324);
    border: 2px solid rgb(8, 8, 8);
    border-radius: 8px;
    border-top: none;
    border-left: none;
    outline: none;
    color: #ffffff;
    font-size: 14px;
}


input::placeholder {
    color: #ffffff;
    font-size: 15px;
    font-weight: normal;
    padding: 5px;
}

button {
    height: 50px;
    width: 100%;
    margin-top: 1rem;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #252626;
}

a{
    color: #ffffff;
    text-decoration: none;
}


@media screen and (max-width: 600px) {
    .container {
        width: 90%;
    }

    .cabecalho {
        height: 60px;
        font-size: 0.8rem;
    }

    .bemvindo {
        font-size: 1.2rem;
    }

    form {
        height: auto;
    }

    input {
        height: 35px;
        margin-bottom: 15px;
    }

    button {
        height: 40px;
    }
}
