* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: url(./assents/capa1.png);
   
}

.container {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 2rem;
    background-color: rgb(36, 36, 36);
    padding: 20px;
    padding-top:20px ;
    border: 2px solid rgb(25, 26, 27);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.cabecalho {
    background-color: rgba(25, 26, 27, 0.39);
    border: 1px solid rgb(25, 26, 27, 0.39);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin: 5px;
    margin-top: 3px;
    padding: 10px;
    padding-bottom: 2px;
}

.bemvindo {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(208, 210, 212);
    font-size: 1.5rem;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
    margin-top: 10px;
    }

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 40px;
}

input {
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 15px;
    padding: 5px;
    background-color: transparent;
    border: 2px solid rgb(25, 26, 27);
    border-radius: 8px;
    border-top: none;
    border-left: none;
    outline: none;
    color: rgb(182, 182, 182);
    font-size: 14px;

}

input::placeholder {
    color: rgb(182, 182, 182);
    font-size: 15px;
    font-weight: normal;
    padding: 5px;
}

button {
    height: 50px;
    width: 100%;
    margin-top: 1rem;
    background-color: black;
    color: rgb(148, 148, 148);
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(25, 26, 27);
}

label{
    font-size: 14px;
    margin-top: 20px;
    color: rgb(131, 130, 130);
}

.cadastro{
    outline: none;
    text-decoration: none;
    color: rgb(194, 194, 194);
    font-size: 12px;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .container {
        width: 90%;
    }

    .cabecalho {
        height: 60px;
        font-size: 0.8rem;
    }

    .bemvindo {
        font-size: 1.2rem;
    }

    form {
        height: auto;
    }

    input {
        height: 30px;
        margin-bottom: 15px;
    }

    button {
        height: 40px;
    }
}
