*{
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./assents/capa.jpeg);
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    
}
@media only screen and (max-width: 600px) {
    body {
      background-size: cover;
      height: 90vh; 
    }
  }
  

  h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0 auto; 
    margin-top: 30px;
    position: relative; 
    width: 100%;
    border: 3px solid rgb(10, 10, 10);
    background-color: rgba(36, 36, 36, 0.856);
    border-radius: 8px;
   
}

 div{
 
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
 }
    
img{
    border: 1px solid black;
    border-radius: 10px;
    height: 120px;
    width: 120px;
    border: 2px solid rgb(8, 8, 8);
    background-color: rgba(36, 36, 36, 0.719);

}
