*{
    margin: 0;
    box-sizing: border-box;
}

body {
  /*
 background-color: rgb(9, 7, 7);
  */
  
  background: linear-gradient(to right, #0884ff 10%, #ffffff, #ff0f34);
  height: 100vh; 
  margin: 0; 
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  body {
    height: 100vh;
  }
}
  

  h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0 auto; 
    margin-top: 20px;
    position: relative; 
    width: 100%;
    border: 1px solid rgb(10, 10, 10);
    background-color: rgba(36, 36, 36, 0.856);
    border-radius: 8px;
   
}

 div{
 
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  
 }
    
img{
    border: 1px solid black;
    border-radius: 10px;
    height: 120px;
    width: 120px;
    border: 1px solid rgb(8, 8, 8);
    background-color: rgba(36, 36, 36, 0.37);
    padding: 8px;

}

.voltar {
  height: 30px;
  width: 80px;
  border: 1px solid rgb(10, 10, 10);
  background-color: rgba(36, 36, 36, 0.856);
  border-radius: 8px;
  margin: 10px;
  margin-top: 15px;
  padding: 4px;
  margin-bottom: 35px;
  
}

.voltar a{
  color: rgb(255, 255, 255); 
  text-decoration: none;
  font-size: 17px;
}