* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: url(./assents/capa.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: left;
    background-attachment: fixed;
}
@media only screen and (max-width: 600px) {
    body {
      background-size: cover;
      height: 100%;
    }
  }

  

header {
    background-color: rgba(36, 36, 36, 0.856);
    padding: 10px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

nav a {
    text-decoration: none;
    color: rgb(208, 210, 212);
    padding: 10px;
    margin: 0 10px;
}

@media only screen and (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin: 5px 0;
    }
}

section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
 
}

h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0 auto; 
    position: relative; 
    width: 100%;
    border: 3px solid rgb(10, 10, 10);
    background-color: rgba(36, 36, 36, 0.856);
    border-radius: 8px;
   
}

@media only screen and (min-width: 601px) {
    h2 {
        top: 0; 
    }
}

.card {
   
    border-radius: 15px;
    background-color: rgba(70, 70, 70, 0.719);
    border: 4px solid rgb(10, 10, 10);
    text-align: center;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    flex: 1;
    cursor: pointer;
    
}

.card img {
    max-width: 100%;
    height: 350px;
    width: 350px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}

.card label {
    display: block;
    margin-top: 5px;
    margin-bottom: 12px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 16px;
}

@media only screen and (max-width: 600px) {
    .card {
        flex: 1 0 100%; /* Ocupar 100% da largura, sem encolher além disso */
    }

    .card img{
        width: 310px;
        height: 210px;
    }

}

footer {
    background-color: rgba(36, 36, 36, 0.856);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    color: rgb(231, 229, 229);
    width: 100%;
}

@media only screen and (max-width: 600px) {
    footer {
        position: static;
        background-color: rgba(36, 36, 36, 0.856);
    }
}

.modal{
    border: 1px solid red;
    height: 100%;
    width: 100%;
    padding: 20px;
    padding-top: 2px;
    background-color: rgba(245, 222, 179, 0);
}

.conteudoModal{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    padding-top: 2px;

}

.fecharModal{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 30px;
    font-size: 35px;
    font-weight: bold;
    align-items: center;
}

.agendamento{
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0 auto; 
    position: relative; 
    width: 200px;
    border: 2px solid rgb(10, 10, 10);
    background-color: rgba(36, 36, 36, 0.856);
    border-radius: 6px;
}
  
