*{
    box-sizing: border-box;
}
.modal{
    border: 1px solid red;
    height: 100%;
    width: 100%;
    padding: 20px;
    padding-top: 2px;
    background-color: wheat;
}

.conteudoModal{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    padding-top: 2px;

}

.fecharModal{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 30px;
    font-size: 35px;
    font-weight: bold;
    align-items: center;
}

.agendamento{
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0 auto; 
    position: relative; 
    width: 200px;
    border: 2px solid rgb(10, 10, 10);
    background-color: rgba(36, 36, 36, 0.856);
    border-radius: 6px;
}